body {
    font-family: system-ui;
    background: #8DC69E;
    color: black;
    text-align: center;
    font-family: serif;
  }
  header{
    background-color: #429259;
     display:flex;
    align-items: center;
    justify-content: space-around;
    font-family: serif;
    font-size: large;

}

section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
}


.praga{
  width: 30%;
  align-items: center;
}

.percevejo{
  width: 30%;
  align-items: center;
}

.lagartas{
  width: 30%
  
}

.helico{
  width: 30%;
  align-items: center;
}

.mosca{
  width: 30%;
}

.coros{
  width: 30%;
}

footer{
  background-color:#429259;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-family:serif;
    font-size:large ;
   margin-top: 10%;
}