body {
    font-family: system-ui;
    background: #8cd875;
    color: black;
    text-align: center;
  }
  header{
    background-color: green;
     display:flex;
    align-items: center;
    justify-content: space-around;
    font-family: serif;

}

.praga{
  width: 30%;
}

.percevejo{
  width: 30%;
}

.lagartas{
  width: 30%
}

.helico{
  width: 30%;
}

.mosca{
  width: 30%;
}

.coros{
  width: 30%;
}