body {
  font-family: system-ui;
  background: #8DC69E;
  color: black;
  text-align: center;
  font-family: serif;
}

header {
  background-color: #429259;
  display: flex;
  align-items: center;
  font-family: serif;
  font-size: large;
  margin: inherit;
  flex-direction: column;

}

.titulo {
  text-align: justify;
}

section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
}


.praga {
  width: 50%;
}

.percevejo {
  width: 30%;
}

.lagartas {
  width: 30%
}

.helico {
  width: 30%;
}

.mosca {
  width: 30%;
}

.coros {
  width: 30%;
}

footer {
  background-color: #429259;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: serif;
  font-size: large;
  margin-top: 10%;
}







@media screen and (min-width: 1024px) {
  .titulo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
  .praga {
    width: 20%;
  }
}